.public_chatpage {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.public_chatpage > * {
    margin-top: 1rem;
}

.public_chatshow {
    width: 80%;
    height: 20rem;
    border: 1px solid green;
    overflow: scroll;
    scrollbar-width: none;
    
    background-color: rgb(199, 214, 142);
}
.message_input {
    width: 60%;
    height: 5rem;

}